/* Contenedor del menú */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilo base de los ítems del menú */
.ant-menu-dark .ant-menu-item {
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: #ffffff;
}

/* Ítem activo */
.ant-menu-dark .ant-menu-item-selected {
  background-color: var(--color-violeta) !important;
  color: #ffffff !important;
}

/* Hover */
.ant-menu-dark .ant-menu-item:hover {
  background-color: var(--color-turquesa) !important;
  color: #ffffff !important;
}

/* Fondo del navbar */
.ant-layout-header {
  background-color: var(--color-navbar) !important;
}
